
body {
    background: #79E0EE;
}

@font-face {
  font-family: "SpiritIsland";
  src: url("./fonts/FreehandSpirit04.ttf");
}

.spirit-island-text {
  font-family: 'SpiritIsland';
}

.root-nav {
  background-color: #e5fcff;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}