.spirit-chart {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  margin-bottom: 1em;
  padding-left: 0;
  padding-right: 0;
  border-radius: 15px;
  width: 100%;
  max-width: 450px;
}

.playstyle-card {
  margin: 0 auto 1em auto;
}

.playstyle-card h4 {
  padding: 0.5em;
}

.playstyle-card p {
  padding: 0 10px 0 10px;
}